
<div   *ngFor="let resultado of vivienda" class="galeria .col-sm-6">
 
  <img src="{{resultado.foto}}">
 <!--  {{resultado | json}} -->

  <p>Nombre: {{resultado.nombre}} Precio {{resultado.precio}}</p>
  <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Direccion: {{resultado.direccion}} </p>
 
  
  <p> <i class="fa fa-home" aria-hidden="true"></i> Habitaciones: {{resultado.habitaciones}} </p>
  <p *ngIf="resultado.alquiler">Tipo: Alquiler</p>
  <p *ngIf="!resultado.alquiler">Tipo: Venta</p>
  

</div>
